/* ESTILS DE LA PAGINA */

body {
	margin: 0px;
	top: 0;
	font-family: arial;
}
a {
	color: black;
	text-decoration: none;
}

/* COLORS */

.Color1 {
	color: #e7e7e7;
}
.Color1B {
	background-color: #e7e7e7;
}
.Color2 {
	color: #ff7a00;
}
.Color2B {
	background-color: #ff7a00;
}
.Color3 {
	color: #ffbe82;
}
.Color3B {
	background-color: #ffbe82;
}
.Color4 {
	color: #595959;	
}
.Color4B {
	background-color: #595959;
}
.Color5 {
	color: #b0b0b0;
}
.Color5B {
	background-color: #b0b0b0;
}
.ColorWhite {
	color: white;
}
.ColorWhiteB {
	background-color: white;
}
.ColorBlack {
	color: black;
}
.ColorBlackB {
	background-color: black;
}

/* NAVEGACIO */

.MenuNavegacio {
	height: 70px;
	position: sticky;
	display: flex;
	gap: 120px;
	justify-content: space-around;
	align-items: center;
	margin: 10px;
	margin-bottom: 4px;
}
.VoraNavegacio {
	margin-left: 30px;
	margin-right: 30px;
	border-top: 2px solid #e7e7e7;
}

/* BOTONS */

.BotoFondoTaronja {
	justify-content: center;
	align-items: center;
	border: 0px solid black;
	border-radius: 4px;
	color: white;
	height: 40px;
	width: 140px;
}
.BotoFondoBlanc {
	justify-content: center;
	align-items: center;
	border: 2px solid #ffbe82;
	border-radius: 4px;
	color: #ff7a00;
	height: 40px;
	width: 140px;
}

/* CARACTERISTIQUES GENERALS */

.Flex {
	display: flex;
}
.FlexGap45 {
	gap: 45px;
}
.FlexGap15 {
	gap: 15px;
}
.FlexDirectionColumn {
	flex-direction: column;
}
.FlexWrap {
	flex-wrap: wrap;
}
.JustifyContentCenter {
	justify-content: center;
}
.ImatgeReescalable {
	max-width: 100%;
	height: auto;
}
.Margin0 {
	margin: 0px;
}
.MarginBottom5 {
	margin-bottom: 5px;
}
.Margin100 {
	margin: 100px;
}
.Margin100LR {
	margin-left: 100px;
	margin-right: 100px;
}
.Margin140LR {
	margin-left: 140px;
	margin-right: 140px;
}
.PaddingTB60 {
	padding-top: 60px;
	padding-bottom: 60px;
}
.PaddingLR20 {
	padding-left: 20px;
	padding-right: 20px;
}
.Block {
	display: block;
}

/* TAMANY IMATGES */

.MaxWidthImatgeTargeta {
	max-width: 579px;
}