:root {
	--amplada-maxima-imatges-grid: 709px;
}

/* ESTILS DE LA PAGINA */

body {
	margin: 0px;
	top: 0;
	font-family: arial;
}
a {
	color: black;
	text-decoration: none;
}

/* COLORS */

.Color1 {
	color: #e7e7e7;
}
.Color1B {
	background-color: #e7e7e7;
}
.Color2 {
	color: #ff7a00;
}
.Color2B {
	background-color: #ff7a00;
}
.Color3 {
	color: #ffbe82;
}
.Color3B {
	background-color: #ffbe82;
}
.Color4 {
	color: #595959;	
}
.Color4B {
	background-color: #595959;
}
.Color5 {
	color: #b0b0b0;
}
.Color5B {
	background-color: #b0b0b0;
}
.Color6 {
	color: #bdbdbd;
}
.Color6B {
	background-color: #bdbdbd;
}
.Color7 {
	color: #595959;
}
.Color7B {
	background-color: #595959;
}
.Color8 {
	color: #919191;
}
.Color8B {
	background-color: #919191;
}
.ColorWhite {
	color: white;
}
.ColorWhiteB {
	background-color: white;
}
.ColorBlack {
	color: black;
}
.ColorBlackB {
	background-color: black;
}

/* NAVEGACIO */

.MenuNavegacio {
	height: 70px;
	position: sticky;
	display: flex;
	gap: 120px;
	justify-content: space-around;
	align-items: center;
	margin: 10px;
	margin-bottom: 4px;
}
.VoraNavegacio {
	margin-left: 30px;
	margin-right: 30px;
	border-top: 2px solid #e7e7e7;
}

/* BOTONS */

.BotoFondoTaronja {
	justify-content: center;
	align-items: center;
	border: 0px solid black;
	border-radius: 4px;
	color: white;
	height: 40px;
	width: 140px;
}
.BotoFondoBlanc {
	justify-content: center;
	align-items: center;
	border: 2px solid #ffbe82;
	border-radius: 4px;
	color: #ff7a00;
	height: 40px;
	width: 140px;
}
.BotoOtherInformation {
	height: 55px;
	width: 160px;
	border-radius: 15px;
	align-items: center;
}
.BotoOtherInformation:hover {
	background-color: white;
	color: black;
}

/* APARTATS ESPECIFICS */

.DivLatestWorks {
	width: 1000px;
	border-radius: 75px;
}
.TableLatestWorks {
	width: 90%;
	border-spacing: 6px;
}
.TableLatestWorks tr:nth-child(odd) td {
    background-color: #595959;
}
.TableLatestWorks tr:nth-child(even) td {
    background-color: #919191;
}
.VoraOtherInformation {
	padding-right: 10px;
	border-right: 2px solid white;
}

/* CARACTERISTIQUES GENERALS */

/* Flex */

.Flex {
	display: flex;
}

.FlexDirectionColumn {
	flex-direction: column;
}
.FlexWrap {
	flex-wrap: wrap;
}

/* Grid */

.Grid {
	display: grid;
}
.GridTemplateColumns2 {
	grid-template-columns: minmax(10px, var(--amplada-maxima-imatges-grid)) minmax(10px, var(--amplada-maxima-imatges-grid));
}

/* Justificar i alinear */

.JustifyContentCenter {
	justify-content: center;
}
.JustifySelfStretch {
	justify-self: stretch;
}
.AlignItemsCenter {
	align-items: center;
}
.Gap45 {
	gap: 45px;
}
.Gap15 {
	gap: 15px;
}
.Gap5 {
	gap: 5px;
}
.Margin0 {
	margin: 0px;
}
.MarginBottom5 {
	margin-bottom: 5px;
}
.MarginBottom60 {
	margin-bottom: 60px;
}
.Margin100 {
	margin: 100px;
}
.Margin100LR {
	margin-left: 100px;
	margin-right: 100px;
}
.Margin140LR {
	margin-left: 140px;
	margin-right: 140px;
}
.PaddingTB60 {
	padding-top: 60px;
	padding-bottom: 60px;
}
.PaddingTB30 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.PaddingLR20 {
	padding-left: 20px;
	padding-right: 20px;
}

/* Imatges*/

.ImatgeReescalable {
	max-width: 100%;
	height: auto;
}
.MaxWidthImatgeTargeta {
	max-width: 579px;
}
.MaxWidthImatgePerfil {
	max-width: 429px;
}

/* Texte */

.TextAlignCenter {
	text-align: center;
}
.FontSize30 {
	font-size: 30px;
}
.FontSize15 {
	font-size: 20px;
}
td {
	font-size: 30px;
	padding: 25px;
	border-radius: 15px;
}
td::before {
	content: "★ ";
	color: gold;
}

/* Vores */

.BorderRadius360 {
	border-radius: 360px;
}