#MenuNavegacioTablet {
	display: none;
}
#FooterTablet {
	display: none;
}
@media (max-width: 1379px) {
	#MenuNavegacioDesktop {
		display: none;
	}
	#MenuNavegacioTablet {
		display: flex;
	}
	.BotoFormulari {
		max-width: 150px;
		height: 35px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	#AboutText {
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
		text-align: center;
	}
	#ServicesText {
		margin-top: 0px;
	}
	#AboutTargetes {
		overflow-x: hidden;
		flex-direction: column;
		margin: 0px;
		align-items: center;
		gap: 30px;
	}
	#LatestWorksText {
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
		text-align: center;
	}
	#CollageServices {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 30px;
		margin-right: 30px;
	}
	#OtherInformationText {
		display: none;
	}
	#OtherInformationPrincipalDiv {
		flex-direction: column;
	}
	#OtherInformationAside {
		padding-right: 0px;
		padding-bottom: 20px;
		border: 0px;
		align-items: center;
		font-size: 60px;
	}
	.BotoOtherInformation {
		height: 137.5px;
		width: 400px;
	}
	#OtherInformationSecundariDiv {
		padding-left: 0px;
		padding-right: 0px;
	}
	#FooterDesktop {
		display: none;
	}
	#FooterTablet {
		display: flex;
		align-items: center;
	}
	#FooterBotoFormulari {
		max-width: 230px;
	}
	#LatestWorksDiv {
		margin-left: 3%;
		margin-right: 3%;
	}
}